label{
    margin: 0;
    padding: 0;
}

.buttons{
    display: flex;
    gap: 10px;
}

.hide{
    display: none;
}

.radios{
    display: flex;
    gap: 40px;
}

.radios > div{
    display: flex;
    align-items: center;
    gap: 5px;
}
