<div class="general-form-container">
    <div>

        <div class="form-group">
            <label class="col-sm-12">
                <input type="radio" name="paymentType">
                Usuario
            </label>
            </div>
        <div class="form-group">
           
            <label class="col-sm-12">
                  <input type="radio" name="paymentType">
                  Lojista
            </label>
            </div>
    </div>

    <custom-input [label]="placeholder" id="{{placeholder}}" *ngFor="let placeholder of placeholdersClient"></custom-input>
    <h2>Endereço</h2>
    <custom-input [label]="placeholder" id="{{placeholder}}" *ngFor="let placeholder of placeholdersAddress"></custom-input>


    <div class="general-form-buttons">
        <button (click)="save">Salvar Mudanças</button>
        <button>Cancelar</button>
    </div>

</div>
