label{
    margin: 0;
    padding: 0;
}

.general-form-container>h1{
    font-weight: bold;
}

.register{
    border-top: 1px solid rgb(141, 141, 141);
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}
.register>h3{
    font-size: large;
    font-weight: 600;
    padding: 1.2em;
}
.register>button{
    font-size: 15;
}

.radios{
    display: flex;
    gap: 40px;
}

.radios > div{
    display: flex;
    align-items: center;
    gap: 5px;
}
