<div class="wishlist">
    <!-- <div *ngFor='let product of products' class='wishlist-item'>{{product.image}}  {{product.unit_price | currency}} {{product.description}}-->
        <!-- <div class="wishlist-item">
            <img src="https://www.fastshop.com.br/wcsstore/FastShopCAS//imagens/_AE_Apple/AEMLL93BZAAZL/AEMLL93BZAAZL_PRD_447_1.jpg" alt="Produto">
            <div class='wishlist-item-details'>
                <h4>iPhone 13 Pro Apple</h4>
                <h3>iPhone 13 Pro Apple (128GB) Azul Sierra, Tela de 6,1 , 5G e Câmera Tripla de 12MP</h3>
                <p class="textoverflow"></p>
        </div> -->
        <!-- </div> -->
    <div *ngFor='let stock of stocks' class='wishlist-item'>
        <ng-container *ngIf="stock.product">
            <img src={{stock.product.image}} alt="Produto">
            <div class='wishlist-item-details'>
                <h4>{{stock.product.name}}</h4>
                <h3>{{stock.product.unit_price| currency}}</h3>
                <p class="textoverflow">{{stock.product.description}}</p>
            </div>
        </ng-container>
    </div>
</div>