.products-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    grid-template-rows: repeat(auto-fit, 1fr);
    justify-content: center;
    width: 85vw;
    margin-inline: auto;
    gap: 30px;
}

.product-component{
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    position: relative;
    gap: 20px;
    flex-direction:column;
    flex-basis: 300px;
    flex-grow: 1;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.582);
    transition: transform 100ms;
}

.product-component > img{
    align-self: center;
    width: min(200px,90%);
    aspect-ratio:  1 / 1;
    margin: 5% 0;
}

.product-component:hover{
    box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.425);
}

.product-component__buttons > button{
    padding: 7px 15px;
    font-size:18px;
    letter-spacing: 0.8px;
}
