<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="productsList">
    <div class="productComponent" *ngFor="let product of products">
        <img src={{product.image}} alt=""  [routerLink]="['/product',product.id]">
        <h2  [routerLink]="['/product',product.id]">
            <p >
                {{product.price | currency:'BRL'}}
            </p>
        </h2>
        <h3  [routerLink]="['/product',product.id]">
            <a [title]="product.name + 'details'" class="textoverflow" >
                {{product.name}}
            </a>
        </h3>
        <!-- <h2 class="textoverflow">
                {{product.description}}
        </h2> -->
        <div class="btns">
            <button >Comprar Agora</button>
            <button>♡</button>
        </div>
        
    </div>
</div>