<div class="product-component" *ngIf="product">
    <img src={{product.image}} alt=""  [routerLink]="['/product',product.id]">
    
    <h2><p>{{product.price | currency:'BRL'}}</p></h2>
    
    <h3  [routerLink]="['/product',product.id]">
        <a [title]="product.name + 'details'" class="textoverflow" >{{product.name}}</a>
    </h3>
    
    <!-- <h2 class="textoverflow">
            {{product.description}}
    </h2> -->
    
    <button [routerLink]="['/product',product.id]">Comprar Agora</button>
    
    <heart-button [productId]="product.id"></heart-button>
</div>