<top-bar [titulo] ="'Produto'"></top-bar>

<div *ngIf="stock" class="details">
    <img src={{stock.product?.image}} alt="">
    <div class="fontformatting">
        <!-- <p>{{product.description}}</p> -->
        <h1>{{stock.product?.name}}</h1>
        <h2>{{stock.unit_price  | currency:'BRL'}}</h2>
        <div class="radios" *ngIf="client">
            <div>
                <input type="radio" id="credito" name="radio" checked>
                <label for="credito">Crédito</label>
            </div>
            <div>
                <input type="radio" id="debito" name="radio">
                <label for="debito">Débito</label>
            </div>
            <div>
                <input type="radio" id="pix" name="radio">
                <label for="pix">Pix</label>
            </div>
            <div>
                <input type="radio" id="boleto" name="radio">
                <label for="boleto">Boleto</label>
            </div>
        </div>
        <div class="baguio">
            <button type="button" (click)="comprar()" *ngIf="client">Comprar</button>
        </div>
    </div>
</div>

<div class="details1">
    <h1>Outros produtos</h1>
    <carrossel class="products-carrossel">
        <ng-container *ngFor="let produto of products">
            <div class="product-component">
                <img src={{produto.image}} alt=""  [routerLink]="['/produto',produto.id]">
                <h2><p>{{produto.unit_price | currency:'BRL'}}</p></h2>
                <h3  [routerLink]="['/product',produto.id]">
                    <a [title]="produto.name + 'details'" class="textoverflow" >{{produto.name}}</a>
                </h3>
                <button [routerLink]="['/product',produto.id]">Comprar Agora</button>
                <heart-button [stockId]="produto.id" *ngIf="client"></heart-button>
            </div>
        </ng-container>
    </carrossel>
</div>


