<!-- <app-top-bar  [título] ="titlePage"></app-top-bar> -->
<div *ngIf="product" class="details">
    <img src={{product.image}} alt="">
    <div class="fontformatting">
        <!-- <p>{{product.description}}</p> -->
        <h1>{{product.name}}</h1>
        <h2>{{product.price  | currency:'BRL'}}</h2>
        <div class="baguio">
            <button type="button">Comprar</button>
        </div>
    </div>
</div>

<div class="details1">
    <h1>Outros produtos</h1>
    <carrossel class="products-carrossel">
        <ng-container *ngFor="let _ of [].constructor(30)">
            <div class="item"></div>
        </ng-container>
    </carrossel>
</div>


