label{
  margin: 0;
  padding: 0;
}

.fontformatting{
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  gap: 3.5vh;
}

.fontformatting > h1{
  font-weight: bold;
  font-family: Muli;
  font-size: 26px;
  color: rgb(65, 65, 65);
}

.fontformatting > h2{
  font-weight: bold;
  font-family: Muli;
  font-size: 35px;
  color: rgb(41, 41, 41);
}

.fontformatting > p{
  font-weight: bold;
  font-family: Muli;
  font-size: 25px;
  color: rgb(65, 65, 65);
}

.details{
  background-color: #ffffff;
  display: flex;
  gap: 5%;
  margin-inline:auto ;
  justify-content: center;
  align-items: flex-start;
  width: min(1200px,80vw);
  border-radius: 8px;
  padding: 30px 50px;
  box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.582);
}

.radios{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.radios > div{
  display: flex;
  align-items: center;
  gap: 5px;
}

.details1{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: min(1200px,80vw);
  margin-top: 2vh;
  margin-inline:auto ;
  border-radius: 8px;
  padding: 10px 30px;
  box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.582);
}

.products-carrossel{
  width: 100%;
  align-self: center;
}

.product-component{
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  position: relative;
  gap: 20px;
  flex-direction:column;
  flex-basis: 300px;
  flex-grow: 1;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.582);
  transition: transform 100ms;
  width: 300px;
}

.product-component > img{
  align-self: center;
  width: min(200px,90%);
  aspect-ratio:  1 / 1;
  margin: 5% 0;
}

.product-component:hover{
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.425);
}

.product-component__buttons > button{
  padding: 7px 15px;
  font-size:60px;
  letter-spacing: 0.8px;
}

@media (max-width: 850px) {
  .details{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 30px 50px;
    box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.582);
  }
  .details>img{
    width: 30vh;
  }
}
