<top-bar [titulo]="'Compras'"></top-bar>

<div class="general">
    <ng-container *ngFor="let purch of purchases, let i = index">
        <div class="container" (load)="getImage(purch.product.id)" [routerLink]="['/purchase', purch.id]">
            <img src="{{purch.product.image}}" alt="" >
            <div>
                <h2 id="Compra">{{purch.product.name}}</h2>
                <h2 id="total">Total da compra: {{purch.purchase_value | currency:'BRL'}}</h2>
            </div>
        </div>
    </ng-container>
</div>
