.general{
    margin-inline: 15vw;
    padding: 0 1vw  2vw ;
}
.topline{
    margin: auto;
    display: flex;
    flex-direction: row;
    margin: flex-start;
}
.topline>img{
    height: 40px;
    margin: 10px;
}
h1{
    align-self: center;
    font-weight: bold;
    height: 20px;
    
}
h2{
    font-size: 20px;
    font-weight: bold;
}

.container{
    height: 250px;
    gap: 20px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    flex-direction:row;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.582);
    width: auto;
}
.container>img{
    max-height: 80%;
 
}