.carrossel-container{
    /* outline: 3px solid rgba(0, 0, 0, 0.3); */
    overflow-x: hidden;
    position: relative;
}

.carrossel{
    display: flex;
    gap: 1em;
    min-width: max-content;
    transition: transform 1s ease-out;
    padding: 2vw;
}


/* Button */

.carrossel-button{
    background-color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    height: 50px;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: background-color 1s ease-out;
}

.carrossel-before{
    z-index: 1;
    left: 0;
    transform: translate(-50%, -50%);
}

.carrossel-after{
    right: 0;
    transform: translate(50%, -50%);
}


/* Button Arrow */

.carrossel-arrow{
    border: 15px solid transparent;
    border-top: 15px solid white;
    height: 30px;
    width: 15px;
    pointer-events: none;
    transition: border-top-color 1s ease-out;
}

.carrossel-arrow.left{
    transform: rotate(90deg) translateY(35%);
}

.carrossel-arrow.right{
    transform: rotate(-90deg) translateY(35%);
}


/* Hide Button */

.carrossel-button.hide-button{
    background-color: transparent;
    cursor: auto;
}

.carrossel-button.hide-button > .carrossel-arrow{
    border-top-color: transparent;
}

