.heart-button-container{
    display: grid;
    place-items: center;
    align-self: center;
    padding: .5em;
    position: absolute;
}

.heart-button-container:hover{
    cursor: pointer;
}

.heart-button-container:hover > div{
    background-color: #bbb;
}

.heart-button{
    background-color: transparent;
    border: solid .2em #bbb;
    border-top: none;
    border-right: none;
    font-size: 16px;
    height: 1em;
    width: 1em;
    position: relative;
    transform: rotate(-45deg);
    pointer-events: none;
}
  
.heart-button div:first-child{
    background-color: inherit;
    border: solid .2em #bbb;
    border-bottom: none;
    height: .5em;
    width: 1em;
    border-radius: .5em .5em 0 0;
    position: absolute;
    top: -.45em;
    left: -.2em;
    pointer-events: none;
}
  
.heart-button div:nth-child(2){
    height: .2em;
    width: .2em;
    background-color: #bbb;
    position: absolute;
    right: -.0em;
    top: .0em;
    pointer-events: none;
}
  
.heart-button div:last-child{
    background-color: inherit;
    border: solid .2em #bbb;
    border-left: none;
    height: 1em;
    width: .5em;
    border-radius: 0 .5em .5em 0;
    position: absolute;
    bottom: -.2em;
    right: -.45em;
    pointer-events: none;
}

.heart-button-container.heart-button-fill div{
    background-color: red;
    border-color: red;
}
