<div class="general">
    <div class="topline">
        <h1>Compra Nº12345</h1>
        <img src="https://cdn-icons-png.flaticon.com/512/3612/3612651.png" alt="">
    </div>
    <div class="container">
        <img src="https://www.fastshop.com.br/wcsstore/FastShopCAS//imagens/_AE_Apple/AEMLL93BZAAZL/AEMLL93BZAAZL_PRD_447_1.jpg" alt="">
        <div class="info">
            <h2 id="Compra"></h2>
            <h2 id="total">Total da compra: </h2>
            <h2 id="total">Data da compra:  </h2>
            <h2 id="total">Tipo de pagamento: </h2>
            <h2 id="total">Nome do Cliente </h2>
            <h2 id="total">Documento: </h2>
            <h2 id="total">Email: </h2>
            <h2 id="total">Nota fiscal: </h2>

        </div>
    </div>
</div>
