
<div class="general">
    <div class="topline">
        <h1 id="top">Olá, </h1>
    </div>
    <div class="container-1">
        <h2>Seus dados:</h2>
        <div class="info-pess">
            <div>
                <label>Nome:</label>
                <input type="text" name="" id="nome">
            </div>
            <div>
                <label>email:</label>
                <input type="text" name="" id="email">
            </div>
            <div>
                <label>Data de nascimento:</label>
                <input type="date" name="" id="data">
            </div>
            <div>
                <label>Telefone:</label>
                <input type="text" name="" id="tel">
            </div>
            <div>
                <label>Documento:</label>
                <input type="text" name="" id="doc">
            </div>
            <div>
                <label>Senha:</label>
                <input type="text" name="" id="senha">
            </div>
            <div class="btt">
                <label >"</label>
                <button>EDITAR</button>
            </div>
        </div>
        <h2>Endereço:</h2>
        <div class="info-pess">
            <div>
                <label>Rua:</label>
                <input type="text" name="" id="rua">
            </div>
            <div>
                <label>CEP:</label>
                <input type="text" name="" id="postal">
            </div>
            <div>
                <label>Pais:</label>
                <input type="text" name="" id="country">
            </div>
            <div>
                <label>Estado:</label>
                <input type="text" name="" id="state">
            </div>
            <div>
                <label>Cidade:</label>
                <input type="text" name="" id="city">
            </div>
            <div class="btt">
                <label >"</label>
                <button>EDITAR</button>
            </div>
        </div>

    </div>
</div>
