:root{
  --HeartFill: 0;
}

/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after{
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction:column;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #1976d2;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

/* Checkout Cart, Shipping Prices */

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE;
}


/* Customizado */

.productsList{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  grid-template-rows: repeat(auto-fit, 1fr);
  justify-content: center;
  width: 85vw;
  margin-inline: auto;
  gap: 25px;
}

.productComponent{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.308);
}

.productComponent > img{
  align-self: center;
  width: min(200px, 90%);
  aspect-ratio: 1 / 1;
}



.app-heart-button{
  border: solid .2em red;
  border-top: none;
  border-right: none;
  font-size: 16px;
  height: 1em;
  width: 1em;
  position: relative;
  transform: rotate(-45deg);
}

.app-heart-button div:first-child{
  background-color: inherit;
  border: solid .2em red;
  border-bottom: none;
  height: .5em;
  width: 1em;
  border-radius: .5em .5em 0 0;
  position: absolute;
  top: -.45em;
  left: -.2em;
}

.app-heart-button div:nth-child(2){
  height: .2em;
  width: .2em;
  background-color: red;
  position: absolute;
  right: -.0em;
  top: .0em;
}

.app-heart-button div:last-child{
  background-color: inherit;
  border: solid .2em red;
  border-left: none;
  height: 1em;
  width: .5em;
  border-radius: 0 .5em .5em 0;
  position: absolute;
  bottom: -.2em;
  right: -.45em;
}

.app-heart-button:hover{
  background: red;
  cursor: pointer;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' var(--HeartFill),
  'wght' 700,
  'GRAD' 0,
  'opsz' 48;
  width: fit-content;
  color: red;
}

.material-symbols-outlined:hover{
  --HeartFill: 1;
  cursor: pointer;
}
 
