  html{
    background-color: #f8f8f8;
  }
  :root{
    --topBarHeight: 68px;
  }


  body{
    min-height: 100vh;
  }
* {
    font-family: 'Montserrat', Arial, sans-serif;
    color: #616161;
    box-sizing: border-box;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  .container {
    display: flex;
    flex-direction:column;
  }
  
  router-outlet + *  {
    padding: 0 16px;
  }
  
  /* Text */
  
  h1 {
    font-size: 25px;
  }
  
  h2 {
    font-size: 15px;
    margin: 3% 0;
    
  }

  
  p {
    font-weight:bold;
    font-family:Muli;
    font-size: 26px;
    color: rgb(75, 75, 75);
  }
  
  /* Hyperlink */
  
  a {
    cursor: pointer;
    color: #868686;
    text-decoration: none;
  }
  
  
  /* Input */
  
  input {
    font-size: 14px;
    border-radius: 2px;
    padding: 8px;
    /* margin-bottom: 16px; */
    border: 1px solid #BDBDBD;
  }
  
  label {
    font-size: 12px;
    font-weight: bold;
    /* margin-bottom: 4px; */
    display: block;
    text-transform: uppercase;
  }
  

  .button, button {
    align-items: center;
    padding: 8px 25px;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #1976d2;
    color: rgb(255, 255, 255);
    border: none;
  }
  
  .button:hover, button:hover {
    opacity: 0.9;
  }
  
  .button:disabled, button:disabled {
    opacity: 0.9;
    cursor: auto;
  }
  
  button:focus{
    border: none;
    outline: none;
}

  /* Fancy Button */
  
  .fancy-button {
    background-color: white;
    color: #1976d2;
  }
  
  .fancy-button i.material-icons {
    color: #1976d2;
    padding-right: 4px;
  }
  
  /* Top Bar */
  
  app-top-bar {
    width: 100%;
    height: var(--topBarHeight);
    background-color: #253f5a;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
  }
  
  app-top-bar h1 {
    color: white;
    margin: 0;
  }
  
  /* Checkout Cart, Shipping Prices */
  
  .cart-item, .shipping-item {
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #EEEEEE;
    
  }
 
  .productsList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    grid-template-rows: repeat(auto-fit, 1fr);
    justify-content: center;
    width: 85vw;
    margin-inline: auto;
    gap: 30px;
  }

  .productComponent{
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    position: relative;
    gap: 20px;
    flex-direction:column;
    flex-basis: 300px;
    flex-grow: 1;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.582);
    transition: transform 100ms;
  }

  .productComponent>img{
    align-self: center;
    width: min(200px,90%);
    margin: 5% 0;
  }

 
  .productComponent:hover{
    cursor: pointer;
    box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.425);
  }

  .textoverflow{
    font-size: 17px;
    text-align: center;
    text-overflow:ellipsis;
    
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }

  .fontformatting{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 3.5vh;
  }
  .fontformatting>h1{
    font-weight: bold;
    font-family: Muli;
    font-size: 26px;
    color: rgb(65, 65, 65);
  }

  .fontformatting>h2{
    font-weight: bold;
    font-family: Muli;
    font-size: 35px;
    color: rgb(41, 41, 41);
  }

  .fontformatting>p{
    font-weight: bold;
    font-family: Muli;
    font-size: 25px;
    color: rgb(65, 65, 65);
  }
  


/* .app-heart-button */

.app-heart-button{
  border: solid .2em red;
  border-top: none;
  border-right: none;
  font-size: 16px;
  height: 1em;
  width: 1em;
  position: relative;
  transform: rotate(-45deg);
}

.app-heart-button div:first-child{
  background-color: inherit;
  border: solid .2em red;
  border-bottom: none;
  height: .5em;
  width: 1em;
  border-radius: .5em .5em 0 0;
  position: absolute;
  top: -.45em;
  left: -.2em;
}

.app-heart-button div:nth-child(2){
  height: .2em;
  width: .2em;
  background-color: red;
  position: absolute;
  right: -.0em;
  top: .0em;
}

.app-heart-button div:last-child{
  background-color: inherit;
  border: solid .2em red;
  border-left: none;
  height: 1em;
  width: .5em;
  border-radius: 0 .5em .5em 0;
  position: absolute;
  bottom: -.2em;
  right: -.45em;
}

.app-heart-button:hover{
  background: red;
  cursor: pointer;
}


/* app-custom-input */

custom-input{
  position: relative;
}

custom-input > input{
  width: 100%;
}

custom-input > label{
  position: absolute;
  left: 1em;
  top: .9em;
  cursor: text;
  font-weight: 600;
  transition: transform .5s ease-out;
}

custom-input input:focus + label{
  transform: translate(-.5em, -2.5em);
  font-weight: 800;
  font-size: .6em;
  color: rgba(0, 0, 0, 0.801);
}





/* general-register-form */

app-address-register,
app-client-register,
app-store-register,
app-login-form{
  display: grid;
  place-items: center;
  min-height: calc(100vh - 2 * var(--topBarHeight));
}

.general-form-container{
  width: min(450px, 85vw);
  margin-inline: auto;
  margin-top: 15px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.315);
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.general-form-container > custom-input{
  width: min(250px, 80%);
}

.general-form-buttons{
  display: flex;
  justify-content: center;
  gap: 25px;
}


/* wishlist */

app-wishlist{
  display: flex;
  flex-direction: column;
}

.wishlist-item{
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.303);
}

.wishlist-item > img{
  display: block;
  height: 200px;
  width: 200px;
}


/* router-outlet */

app-root{
  display: block;
  min-height: 100vh;
}
