:root{
  --topBarHeight: 68px;
}

html{
  background-color: #f8f8f8;
}


* {
  font-family: 'Montserrat', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
}

app-root{
  display: block;
  min-height: 100vh;
}
 
.container {
  display: flex;
  flex-direction:column;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 25px;
}

h2 {
  font-size: 15px;
  margin: 3% 0;
  
}

p {
  font-weight:bold;
  font-family:Muli;
  font-size: 26px;
  color: rgb(75, 75, 75);
}
  
/* Hyperlink */

a {
  cursor: pointer;
  color: #868686;
  text-decoration: none;
}


/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  /* margin-bottom: 16px; */
  border: 1px solid #BDBDBD;
}
  
label {
  font-size: 12px;
  font-weight: bold;
  /* margin-bottom: 4px; */
  display: block;
  text-transform: uppercase;
}


/* Botões */

button {
  align-items: center;
  padding: 8px 25px;
  border-radius: 2px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: #1976d2;
  color: rgb(255, 255, 255);
  border: none;
}

/* Classes Utilitárias */

.textoverflow{
  font-size: 17px;
  text-align: center;
  text-overflow:ellipsis;
  overflow:hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}


/* heart-button */

heart-button{
  display: grid;
  place-items: center;
}


/* general-register-form */

app-address-register,
app-client-register,
app-store-register,
app-login-form{
  display: grid;
  place-items: center;
  min-height: calc(100vh - 2 * var(--topBarHeight));
}

.general-form-container{
  width: min(450px, 85vw);
  margin-inline: auto;
  margin-top: 15px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.315);
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.general-form-container > custom-input{
  width: min(250px, 80%);
}

.general-form-buttons{
  display: flex;
  justify-content: center;
  gap: 25px;
}
